---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="mb-4 text-gray-700 dark:text-gray-300">
    This is where I will post about my journey learning Astro.
  </p>

  <ul class="space-y-3"> 
    {allPosts.map((post: any) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))}
  </ul>

  <script>
    import "../scripts/menu.js";
  </script>
</BaseLayout>