---
const platform = "github";
const username = "Pickle58";
const profileUrl = `https://www.${platform}.com/${username}`;
---

<footer>
  <p>
    Learn more about my projects on 
    <a href={profileUrl} target="_blank" rel="noopener noreferrer">
      {platform}
    </a>!
  </p>
</footer>